<div class="main-container"></div>

<h2>Build your VoterBloc</h2>

<%= form_for (setup_team(@team)) do |f| %>
  <ul>
    <% @team.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label "Team Name:" %>
    <%= f.text_field :name, :placeholder => "Rainbow Puppy Voters" %>
  </p>
  <p>
    <%= f.label "Goal:"  %>
    <%= f.text_field :membership_goal, :placeholder => "# of voters in your bloc" %>
  </p>
  <p>
    <%= f.label "Select your Location:"  %>
    <%= f.select :location, options_for_select(locations, :location) %>
  </p>
  <p>
    <!-- Date/Location, selecting will activate the team for the selected election. -->
    <%= f.fields_for :elections do |ff| %>
    <%= ff.label "Election:" %>
    <%= ff.select :description, options_for_select(descriptions, :description) %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

***FB friends/invite others***




