
<div class="homepage-container"></div>
<div class="content">
  <h1>Welcome to VoterBloc</h1>

  <div class="definition-container">
    <p class="def-title">democracy</p>
    <p class="def-details">noun /dɪˈmɑk·rə·si/</p>
    <p class="def-definition">the belief in freedom and equality between people, or a system of government based on this belief, in which power is either held by elected representatives or directly by the people themselves</p>
    <p class="def-source">source: Cambridge English Dictionary</p>
  </div>

  <div class="explanation-container">
    <p>Voting is the foundation of democracy, and the most basic way that an individual can exert their power.</p>
    <p>But, sometimes we all wonder if our one vote makes a difference.</p>
    <p>By making the commitment to vote together with friends, family and neighbors, we can increase the power of our vote.</p>
    <p>Let's vote together.</p>
  </div>

  <%= link_to "Build your Bloc", new_team_path %>


<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Logout", logout_path, id: "log_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <% end %>

  <%= session.inspect %>


</div>

</div>

