
<div class="homepage-container"></div>

<div class="outer-box">
  <div class="row one">
    <div class="col top">VOTER BLOC</div>
  </div>
  <div class="row two">
    <div class="col mid1"><%= link_to "ABOUT", pages_about_path %></div><div class="col mid2"><%= link_to "BUILD YOUR TEAM", new_team_path %></div>
  </div>
  <div class="row three">
    <div class="col bot1">TEAM STANDINGS</div><div class="col bot2"><%= link_to "WHY VOTE", pages_why_vote_path %></div>
  </div>
  <div class="row four">
    <div class="col top"><%= link_to "SHOW YOUR GROUP", pages_why_vote_path %></div>
  </div>
</div>



<div id="user-widget">
  <% if current_user %>
    <%= link_to "Logout", logout_path, id: "log_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <% end %>
</div>
