<nav>
  <div class="nav-home"><%= link_to "VOTER BLOC", root_url %> </div>
  <div class="nav-links"><%= link_to "CREATE TEAM", new_team_path %> </div>
  <div class="nav-links"><%= link_to "ABOUT", pages_about_path %> </div>
  <div class="nav-links"><%= link_to "STANDINGS", teams_path %> </div>
  <div class="nav-links"><%= link_to "WHY VOTE", pages_why_vote_path %> </div>
  <div class="nav-links"><%= link_to "SEE TEAM", team_path(1)  %> </div>
  </div>
</nav>

